<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Раздел" %><br />
    <%= f.number_field :cat_id %>
  </div>
  <div class="field">
    <%= f.label "Вопрос" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label "Интересная информация" %><br />
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <%= f.label "Правильный ответ" %><br />
    <%= f.number_field :corr_answ_id %>
  </div>
  
  <% @answers.size.times do |i| %>
    <div class="field">
    <%= fields_for @answers[i] do |a| %>
      <label for="answer_content<%=i%>">Answer <%=i%></label>
      <input id="answer_content<%=i%>" name="answer[content][]" size="30" type="text" />      
      <% a.label :content %>
      <% a.text_field :content %>
    <% end %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
