<!DOCTYPE html>
<html>
<head>
  <title>Кругозор.ру<%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "Кругозор.ру", { :controller => "main", :action => "index" }, :class => "brand" %>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <%= link_to "Тесты", { :controller => "main", :action => "tests" } %>
            </li>
            <li>
              <%= link_to "Новости", { :controller => "main", :action => "news" } %>
            </li>
            <li>
              <%= link_to "Настройки" %>
            </li>
            <li>
              <%= link_to "Помощь", { :controller => "main", :action => "help" } %>
            </li>
            <li>
              <%= link_to "О сайте", { :controller => "main", :action => "about" } %>
            </li>
          </ul>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>